<p><img src="https://i.postimg.cc/Kvnrr8Kn/charity-infinity-logo-homepage.png" style="display: block; margin-left: auto; margin-right: auto; width:30%"></p>
<h1 style="text-align:center;"><strong>Charity Infinity</strong></h1><br>
<h2 style="text-align:center;"><strong><em>Helps other NGOs</em></strong></h3><br>
<p style="text-align:center; font-size: 30px; font-weight: 100;"><em>A way for anyone to donate infinitely to an NGO of their<br> choice till
  the end of economy, humanity, time and <br>earth.</em></p><br>
<a href="https://forms.gle/xBP5aKpBFUBY36NQ8" title="Join beta list" style="display:flex; justify-content:center; align-items:center;"><button type="button" style="background-color:lightsalmon; padding:10px; border:0px; border-radius:10px;" onMouseOver="this.style.cursor='pointer'"><h2>Join beta list</h2></button></a><br>
<p><img src="https://i.postimg.cc/Gtdk5Vpd/pexels-rocketmann-team-9486905.jpg" style="display: block; margin-left: auto; margin-right: auto; width:50%"></p>
