<p  style="text-align:center;"><img src="https://i.postimg.cc/Kvnrr8Kn/charity-infinity-logo-homepage.png"></p><h1  style="text-align:center;"><strong>Charity
  Infinity</strong></h1><h4 style="text-align:center;"><strong><em>Helps other NGOs</em></strong></h4>
<p  style="text-align:center;"><em>A way for anyone to donate infinitely to an NGO<br> of their choice till
  the end of economy, humanity, time and<br> earth.</em></p><p style="text-align:center;"><img src="https://i.postimg.cc/Gtdk5Vpd/pexels-rocketmann-team-9486905.jpg"></p>
